
.work-image-fullwidth 
    margin: 1em 0
    @media(min-width: 600px)
        grid-column: 1 / -1
        position: relative
        // top: 1em
        // margin: 0 0 1em 0
        margin: 0
    img 
        width: 100%


.content-stack, .content-stack > .container
    p:not(.pWithImage)
        max-width: 75ch
       
    h2 
        margin: 4em 0 1em 0

    video, img
        width: 100%
        margin-top: 1em
    .pWithImage
        margin-top: 2em
        margin-bottom: 0
        padding: 0 
        img 
            max-height: 100vh
            width: auto
            display: block
            margin: 0 auto
            
    p:not(.pWithImage) + .pWithImage
        margin-top: 4em
    .video 
        width: 100% 
        margin-top: 0 
        video 
            margin-top: 2em


    

