
.landing 
    max-height: calc(100vh - 4em)
    margin: 2em 0 2em 0
    @media(min-width: 768px)
        display: flex 
        @supports(display: grid)
            display: grid
            grid-gap: 1em
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: calc(100vh - 4em)

.landingText
    order: 2
    align-self: flex-end
    margin: 2em 0
    @media(min-width: 768px)
        flex: 1
        margin: 0 2em
        @supports(display: grid)
            margin: 0
            grid-column: 3


.landingButtons 
    display: flex 
    padding: 0
    a 
        padding: 0
        margin: 0 0.5em 0 0

.landingImage 
    flex: 2 
    @supports(display: grid) 
        grid-column: 1 / span 2

            
.finalLink 
    text-align: center 
    margin: 6em 0