
.item
    margin: 2em 0
.poster 
    height: 300px 
    margin-bottom: 1em
.buttons 
    display: flex
.text 
    p 
        max-width: 45ch
    

@media(min-width: 900px)
    @supports(display: grid)
        .container 
                overflow: hidden
                display: grid 
                grid-template-columns: repeat(3, 1fr)
                grid-gap: 1em
                grid-template-rows: 300px minmax(200px, auto) 50px 
        @supports(display: contents)
            .item 
                margin: 0
                display: contents

            .poster 
                margin: 0
                grid-row: 1

            .text 
                grid-row: 2 
                p 
                    max-width: 35ch
                
            .buttons 
                grid-row: 3

    
