body, html
    box-sizing: border-box
    background: url('../assets/perlinDots.png'), #F1F1EF    
    background-size: contain
    background-repeat: no-repeat
    background-position: top

li, ul, a
    list-style: none
    padding: 0
    margin: 0
    text-decoration: none
    outline: none

a 
    color: inherit 
    transition: .2s ease
    &:hover 
        color: #35E5A1
        transition: .2s ease
