body, html
    box-sizing: border-box
    background: url('/assets/perlinDots.png'), #F1F1EF    
    background-size: contain
    background-repeat: no-repeat

li, ul, a
    list-style: none
    padding: 0
    margin: 0
    text-decoration: none

a 
    color: inherit 
